/* #region common  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    transition: all 0.2s;
}

:root {
    /* dimensions  */
    --sp-player-height: 100px;
    --sp-upgrade-height: 70px;
    --sp-menu-width: 50px;

    /* site colors  */
    --sp-darkest: black;
    --sp-semi-transparent: rgba(0, 0, 0, 0.466);
    --sp-dark-1: #141922;
    --sp-dark-2: #282828;
    --sp-mid-1: #7b7d82;
    --sp-mid-2: #a3a3a3;
    --sp-cta: #a8f82e;
    --sp-lighter: white;
}

.d-flex {
    display: flex;
}

.btn-upgrade {
    float: right;
    position: relative;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
    text-transform: uppercase;
    background-color: transparent;
    padding: 0.6rem 2rem;
    border: 1px solid var(--sp-lighter);
    border-radius: 2rem;
    color: var(--sp-lighter);
    &:hover {
        font-size: 1rem;
    }
}

.d-off {
    display: none;
}

ul {
    list-style: none;
}

/* #region col  */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 1rem;
}

.col-mobile {
    width: auto;
    flex-basis: auto;
}

.col-1-mobile {
    width: calc(100% / 12 * 1);
}

.col-2-mobile {
    width: calc(100% / 12 * 2);
}

.col-3-mobile {
    width: calc(100% / 12 * 3);
}

.col-4-mobile {
    width: calc(100% / 12 * 4);
}

.col-5-mobile {
    width: calc(100% / 12 * 5);
}

.col-6-mobile {
    width: calc(100% / 12 * 6);
}

.col-7-mobile {
    width: calc(100% / 12 * 7);
}

.col-8-mobile {
    width: calc(100% / 12 * 8);
}

.col-9-mobile {
    width: calc(100% / 12 * 9);
}

.col-10-mobile {
    width: calc(100% / 12 * 10);
}

.col-11-mobile {
    width: calc(100% / 12 *11);
}

.col-12-mobile {
    width: calc(100% / 12 * 12);
}

/* #endregion col  */

/* #endregion common  */


/* #region utility  */
.debug {
    * {
        border: 1px dashed black;
    }

    .menu {
        background-color: cadetblue;
    }

    .upgrade {
        background-color: burlywood;
    }

    .player {
        background-color: red;
    }

    .scroll {
        background-color: pink;
    }

    .card {
        background-color: aqua;
    }
}

/* #endregion utility  */


/* #region layout  */
.upgrade {
    height: var(--sp-upgrade-height);
    position: fixed;
    z-index: 10;
    width: calc(100vw - var(--sp-menu-width));
    background-color: var(--sp-semi-transparent);
}

.scroll {
    height: 100%;
    overflow-y: auto;
    padding-top: var(--sp-upgrade-height);
    background-color: var(--sp-dark-1);
    color: var(--sp-lighter);

    ul {
        padding: 1rem 2rem;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem 2rem;

        a {
            text-decoration: none;
            color: var(--sp-mid-1);
            font-size: 0.8rem;
            font-weight: 700;
            border-bottom: 1px transparent;
            padding-bottom: 0.5rem;

            &:hover {
                color: var(--sp-lighter);
            }
        }
    }
}


/* #region menu voice select highlight  */
div:has(#evidenza:target) .scroll ul li a[href="#evidenza"],
div:has(#podcast:target) .scroll ul li a[href="#podcast"],
div:has(#classifiche:target) .scroll ul li a[href="#classifiche"],
div:has(#mood:target) .scroll ul li a[href="#mood"],
div:has(#uscite:target) .scroll ul li a[href="#uscite"],
div:has(#scopri:target) .scroll ul li a[href="#scopri"]
{
    border-bottom: 1px solid var(--sp-cta);
}


/* #endregion menu voice select highlight  */


.menu {
    padding: 1rem 0;
    min-width: var(--sp-menu-width);
    height: calc(100vh - var(--sp-player-height));
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--sp-darkest);
    color: var(--sp-mid-2);
    align-items: center;

    .logo {
        margin-bottom: 1rem;
        color: var(--sp-mid-1);
    }

    .up-menu {
        a {
            width: 200px;
            padding: 0 0.5rem;
            border-left: 1px solid transparent;
        }

        li {
            img {
                width: 30px;
                opacity: 50%;
                &:hover{
                    opacity: 100%;
                }
            }

            margin-bottom: 0.4rem;
        }
    }

}

/* #region menu select highlight  */
div:has(#home:target) .up-menu li a[href="#home"],
div:has(#cerca:target) .up-menu li a[href="#cerca"],
div:has(#libreria:target) .up-menu li a[href="#libreria"] {
    color: var(--sp-lighter);
    border-left: 1px solid var(--sp-cta);
}

/* #endregion menu select highlight  */

.logo-small {
    display: block;
}

.logo-big {
    display: none;
}

.profile {
    text-align: center;

    h3 {
        color: var(--sp-lighter);
    }

    .profile-img {
        height: 40px;
        width: 40px;
        background-color: grey;
        border-style: none;
        border-radius: 50%;
    }

    & span:hover {
        cursor: pointer;
        color: var(--sp-lighter);
    }

    .img-small {
        width: 20px;
        cursor: pointer;
        color: var(--sp-mid-1);

        & :hover {
            color: var(--sp-lighter);
        }
    }
}

.content {
    width: 100%;
    height: calc(100vh - var(--sp-player-height));
}

.player {
    height: var(--sp-player-height);
    font-size: 0.6rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sp-dark-2);
    color: var(--sp-lighter);

    ul {
        list-style: none;
    }

    .left-player {
        padding-left: 0.5rem;
        align-items: center;

        ul {
            flex-direction: column;
            justify-content: space-between;
        }

        li {
            font-size: 1rem;
            color: var(--sp-mid-1);

            &:hover {
                cursor: pointer;
                color: var(--sp-lighter);
            }
        }

        img {
            width: auto;
            height: 28px;
            margin-right: 0.5rem;
        }

        .song-data {
            margin-right: 0.5rem;

            & span {
                color: var(--sp-mid-2);
            }

            & span:hover {
                cursor: pointer;
                color: var(--sp-lighter);
                text-decoration: underline;
            }
        }
    }

    .mid-player {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        li {
            cursor: pointer;
            min-width: 2.5rem;
            text-align: center;
        }

        .controls {
            max-width: 300px;
            height: 40px;
            font-size: 1.2rem;
            justify-content: space-around;

            .fa-circle-play {
                font-size: 2rem;
            }

            & li:nth-child(3):hover i {
                font-size: 2.5rem;
            }
        }

        .timeline {
            max-width: 600px;

            & li:nth-child(2) {
                padding: 0 1rem;
                width: 100%;
            }
        }
    }

    .right-player {
        padding: 0rem;
        max-width: 200px;

        ul {
            align-items: center;
            justify-content: right;

            & li:nth-child(4) {
                width: 100%;
            }
        }

        li {
            margin-right: 0.5rem;
            font-size: 0.7rem;
        }

        hr {
            width: 30px;
        }
    }
}

.dot{  
    position: relative;
    float: right;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--sp-lighter);
    display: none;
}

.timeline {
    & li:nth-child(2) {
        min-width: 100%;
    }
}

.right-player {
    .empty-bar:hover .full-bar-volume {
        background-color: var(--sp-cta);
        .dot{
            display: inline-block;
        }
    }
}

.empty-bar {
    height: 4px;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--sp-mid-2);
    position: relative;

    &:hover .full-bar-song {
        background-color: var(--sp-cta);
        .dot{
            display: inline-block;
        }
    }
}

.full-bar-song {
    position: absolute;
    height: 4px;
    width: 20%;
    border-radius: 2rem;
    background-color: var(--sp-lighter);

}

.full-bar-volume {
    position: absolute;
    height: 4px;
    width: 50%;
    border-radius: 2rem;
    background-color: var(--sp-lighter);

}

.card {
    text-align: center;

    .card-img-container {
        position: relative;
    }

    .black-bg {
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
        background-color: var(--sp-semi-transparent);
    }

    .play-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;

        i {
            display: none;
            color: var(--sp-lighter);
            text-decoration: none;
        }

    }

    &:hover {
        cursor: pointer;

        i {
            display: inline-block;
        }

        img {
            background-color: black;
        }

        .black-bg {
            display: inline-block;
        }
    }

    img {
        max-width: 100%;
    }

    h4 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    span {
        font-size: 0.8rem;
        color: var(--sp-mid-1);
        font-weight: 700;
    }
}

.for-you {
    h2 {
        margin-bottom: 0.5rem;
    }

    span {
        font-size: 0.8rem;
        color: var(--sp-mid-1);
        font-weight: 700;
    }
}

.popular {
    h2 {
        margin-bottom: 0.5rem;
    }

    span {
        font-size: 0.8rem;
        color: var(--sp-mid-1);
        font-weight: 700;
    }
}

.artist {
    text-align: center;

    img {
        max-width: 100%;
        border-radius: 50%;
    }

    h3 {
        margin-top: 1rem;
    }

    &:hover {
        cursor: pointer;

        img {
            opacity: 50%;
        }

    }
}

.playlist {
    height: 100%;

    h2 {
        color: var(--sp-lighter);
    }

    li:hover {
        cursor: pointer;
        color: var(--sp-lighter);
    }
}

.recent,
.for-you,
.popular {
    padding: 1rem;
}

/* #endregion layout  */

@media screen and (max-width: 400px) {
    .song-data{
        display: none;
    }

    .right-player ul{
        flex-direction: column;
        .empty-bar{
            display: none;
        }
    }
    
}
@media screen and (max-height: 420px) {
    .menu {
        overflow: hidden;
    }
}

@media screen and (min-width: 576px) {
    :root {
        --sp-menu-width: 200px
    }

    .up-menu {
        margin-bottom: 1rem;

        a {
            width: 200px;
            text-decoration: none;
            color: var(--sp-mid-1);

            &:hover {
                color: var(--sp-lighter);
            }
        }

        li {

            img {
                width: 30px;
                vertical-align: middle;
                margin-right: 0.5rem;
            }

            margin-bottom: 0.4rem;

            span {
                vertical-align: middle;
            }
        }
    }

    .menu {
        align-items: start;
        padding: 1rem;
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: block;
        width: 150px;
    }

    .d-on {
        display: inline-block;
    }

    .up-menu {
        width: 100%;
    }

    .btn-playlist {
        margin-bottom: 1rem;

        & :hover {
            color: var(--sp-lighter);

        }

        span:nth-child(1):hover {
            background-color: var(--sp-lighter);
        }

        a {
            text-decoration: none;
            color: var(--sp-mid-2);
        }

        & span:nth-child(1) {
            line-height: 30px;
            display: inline-block;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            vertical-align: middle;
            background-color: var(--sp-mid-2);
            color: var(--sp-darkest);
            width: 30px;
            height: 30px;
            margin-right: 0.5rem;
        }

        & span:nth-child(2) {
            font-weight: 600;
        }
    }

    .playlist {
        h2 {
            margin-bottom: 1rem;
        }

        li {
            margin-bottom: 1rem;
            font-size: 0.8rem;
        }
    }

    .profile {
        & div:nth-child(1) {
            display: flex;
            width: 150px;
            line-height: 50%;
            margin-bottom: 1rem;
            align-items: center;
            border-bottom: 1px solid var(--sp-mid-2);
            padding: 0.5rem 0;
            font-size: 0.8rem;
            color: var(--sp-mid-1);

            img {
                margin-right: 0.5rem;
            }
        }

        & div:nth-child(2) {
            align-items: center;

            img {
                transform: scale(0.7);
            }
        }
    }

    .player .mid-player {
        li {
            min-width: 3rem;
        }

        .timeline {
            min-width: 100%;
        }
    }

    .player .left-player {
        img {
            width: auto;
            height: 38px;
        }
    }

}

@media screen and (max-height: 724px) {
    .playlist {
        overflow: hidden;
        overflow-y: auto;
    }
}

@media screen and (min-width: 768px) {
    .player .right-player {
        padding: 0 1rem;
    }  

    .player .mid-player {
        li {
            min-width: 3rem;
        }

        .timeline {
            min-width: 100%;
        }
    }

    .player .left-player {
        img {
            width: auto;
            height: 44px;
        }
        ul{
            flex-direction: row !important; 
            li{
                margin-right: 0.5rem;
            }
        }
    }

    /* #region col  */
    .col-tablet {
        width: auto;
        flex-basis: auto;
    }

    .col-1-tablet {
        width: calc(100% / 12 * 1);
    }

    .col-2-tablet {
        width: calc(100% / 12 * 2);
    }

    .col-3-tablet {
        width: calc(100% / 12 * 3);
    }

    .col-4-tablet {
        width: calc(100% / 12 * 4);
    }

    .col-5-tablet {
        width: calc(100% / 12 * 5);
    }

    .col-6-tablet {
        width: calc(100% / 12 * 6);
    }

    .col-7-tablet {
        width: calc(100% / 12 * 7);
    }

    .col-8-tablet {
        width: calc(100% / 12 * 8);
    }

    .col-9-tablet {
        width: calc(100% / 12 * 9);
    }

    .col-10-tablet {
        width: calc(100% / 12 * 10);
    }

    .col-11-tablet {
        width: calc(100% / 12 *11);
    }

    .col-12-tablet {
        width: calc(100% / 12 * 12);
    }

    /* #endregion col  */
}

@media screen and (min-width: 992px) {
    .player .right-player {
        padding-left: 2rem;
    }

    .player .left-player {
        width: 10%;
    }

    /* #region col  */
    .col-desktop {
        width: auto;
        flex-basis: auto;
    }

    .col-1-desktop {
        width: calc(100% / 12 * 1);
    }

    .col-2-desktop {
        width: calc(100% / 12 * 2);
    }

    .col-3-desktop {
        width: calc(100% / 12 * 3);
    }

    .col-4-desktop {
        width: calc(100% / 12 * 4);
    }

    .col-5-desktop {
        width: calc(100% / 12 * 5);
    }

    .col-6-desktop {
        width: calc(100% / 12 * 6);
    }

    .col-7-desktop {
        width: calc(100% / 12 * 7);
    }

    .col-8-desktop {
        width: calc(100% / 12 * 8);
    }

    .col-9-desktop {
        width: calc(100% / 12 * 9);
    }

    .col-10-desktop {
        width: calc(100% / 12 * 10);
    }

    .col-11-desktop {
        width: calc(100% / 12 *11);
    }

    .col-12-desktop {
        width: calc(100% / 12 * 12);
    }

    /* #endregion col  */
}