/* #region common  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sp-player-height: 100px;
}

.d-flex{
    display: flex;
}

/* #endregion common  */


/* #region utility  */
.debug{
    *{
        border: 1px dashed black;
    }
    .menu{
        background-color: cadetblue;
    }
    .upgrade{
        background-color: burlywood;
    }
    .player{
        background-color: red;
    }
    .scroll{
        background-color: pink;
    }
}

/* #endregion utility  */


/* #region layout  */
.upgrade{
    height: 100px;
    position: fixed;
    width: 100%;
}

.scroll{
    height: 100%;
    overflow-y: auto;
}

.menu{
    width: 50px;
    height: calc(100vh - var(--sp-player-height));
}
.content{
    width: 100%;
    height: calc(100vh - var(--sp-player-height));
}
.player{
    height: var(--sp-player-height);
}

/* #endregion layout  */